.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--winningMessageColor);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--backgroundColor);
}

.winning-message.show{
    display: flex;
}

.winning-message button{
    font-size: 13px;
    background-color: var(--contentColor);
    color: var(--backgroundColor);
    border: 1px solid var(--contentColor);
    border-radius: 20px;
    padding: .65em;
    cursor: pointer;
    margin-top: 10px;
}

.winning-message button:hover{
    background-color: var(--hoverColor);
    color: var(--backgroundColor);
    border-color: var(--hoverColor);
}