@font-face {
  font-family: 'Apercu Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Apercu Bold'), url('./fonts/Apercu_Bold.woff') format('woff');
}

@font-face {
    font-family: 'Apercu Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Apercu Regular'), url('./fonts/Apercu_Regular.woff') format('woff');
  }

*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --cellSize: 36px;
    --markSize: calc(var(--cellSize) * .9);
    --backgroundColor: #15202B;
    --winningMessageColor: rgba(241, 243, 255, .6);
    --contentColor: #FFAD1F;
    --hoverColor: #FFE0B8;
}

body{
    margin: 0;
    background-color: var(--backgroundColor);
    transition: .2s;
}

button, div{
  text-align: center;
  color: var(--contentColor);
  font-size: 20px;
  font-family: 'Apercu Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-family: 'Apercu Regular';
    color: var(--contentColor);
    margin: 0;
    margin-bottom: 15px;
    font-size: 13px;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px;
}

h2{
    color: var(--contentColor);
    margin: 0;
}

.score{
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.score__item p{
  font-size: 20px;
  font-family: 'Apercu Bold';
  margin-bottom: -5px;
}

.score__item span{
  display: none;
  font-family: 'Apercu Regular';
  font-size: 13px;
  margin: 0;
}

.score__item span.show{
  display: inline-block;
}

.board{
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(9, auto);
}

.cell{
    width: var(--cellSize);
    height: var(--cellSize);
    border: 1px solid var(--contentColor);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6),
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-top: none;
}

.cell:nth-child(9n + 1){
    border-left: none;
}

.cell:nth-child(9n + 9){
    border-right: none;
}

.cell:last-child,
.cell:nth-child(80),
.cell:nth-child(79),
.cell:nth-child(78),
.cell:nth-child(77),
.cell:nth-child(76),
.cell:nth-child(75),
.cell:nth-child(74),
.cell:nth-child(73){
    border-bottom: none;
}

.cell.x, .cell.o{
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.o::before{
    background-color: var(--contentColor);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before{
    background-color: var(--hoverColor);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--markSize) * .15);
    height: var(--markSize);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before{
    width: var(--markSize);
    height: var(--markSize);
}


.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{
    width: calc(var(--markSize) * .7);
    height: calc(var(--markSize) * .7);
    background-color: var(--backgroundColor);
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--winningMessageColor);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--backgroundColor);
}

.winning-message.show{
    display: flex;
}

.toggle-button{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
  
.toggle-button span{
    font-size: 13px;
    color: var(--contentColor);
    font-family: 'Apercu Regular';
}

.react-toggle {
    touch-action: pan-x;
  
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-right: 10px;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-tap-highlight-color: var(--hoverColor);
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  
  .react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: var(--hoverColor);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--contentColor);
  }
  
  .react-toggle--checked .react-toggle-track {
    background-color: var(--contentColor);
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: var(--contentColor);
  }
  
  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }

  .react-toggle-track-check svg path, .react-toggle-track-x svg path{
    fill: var(--backgroundColor) !important;
  }
  
  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }
  
  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid var(--backgroundColor);
    border-radius: 50%;
    background-color: var(--backgroundColor);
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: var(--contentColor);
  }
  
  .react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px var(--contentColor);
    -moz-box-shadow: 0px 0px 3px 2px var(--contentColor);
    box-shadow: 0px 0px 2px 3px var(--contentColor);
  }
  
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px var(--contentColor);
    -moz-box-shadow: 0px 0px 5px 5px var(--contentColor);
    box-shadow: 0px 0px 5px 5px var(--contentColor);
  }

.winning-message button{
    font-size: 13px;
    background-color: var(--contentColor);
    color: var(--backgroundColor);
    border: 1px solid var(--contentColor);
    border-radius: 20px;
    padding: .65em;
    cursor: pointer;
    margin-top: 10px;
}

.winning-message button:hover{
    background-color: var(--hoverColor);
    color: var(--backgroundColor);
    border-color: var(--hoverColor);
}

.credit{
  position: absolute;
  bottom: 10px;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
}

.credit a{
  color: var(--contentColor);
}

.buttons{
  position: absolute;
  right: 10px;
  top: 2px;
}

.buttons button{
  background: var(--contentColor);
  border: 1px solid var(--contentColor);
  color: var(--backgroundColor);
  font-size: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: 'Apercu Regular';
  padding: 3px 5px;
  margin-right: 4px;
}

.buttons button:last-child{
  margin-right: 0px;
}

.buttons button:hover, .buttons button:focus, .buttons button:active{
  background-color: var(--hoverColor);
  border-color: var(--hoverColor);
  outline: none;
  cursor: pointer;
}

@media (min-width: 768px){
  .credit{
    font-size: 13px;
  }
  .credit br{
    display: none;
  }
}

@media (max-width: 767px){
  .title, .score, .board{
    transform: translateY(-35px);
  }

  :root{
    --cellSize: 28px;
  }
}

@media (min-width: 1024px){
  .score__item span.show{
    display: none;
  }
}